.title {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.subtitle {
  font-size: 1rem;
  margin: 30px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1801px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
