.pieChart {
  width: 40rem;
  height: 40rem;
  margin: 1.2rem 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .pieChart {
    width: 22.5rem;
    height: 17.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 1801px) {
  .pieChart {
    width: 50rem;
    height: 50rem;
    margin-left: 12.5rem;
    margin-bottom: 6.5rem;
  }
}
