.modalOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all ease-in 3s;
}

.modalBox {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222730;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  height: 50%;
  padding: 1rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modalButton {
  margin-top: 1.3rem;
}
.modalHeader h2 {
  padding: 10px;
}
.closeButton {
  height: 40px;
  width: 100px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: var(--darkButtonBg);
  cursor: pointer;
  font-size: 1rem;
}

.closeButton:hover {
  background: var(--darkButtonBgHover);
  transform: scale(1.05);
}
.buyMeCoffee {
  padding: 10px;
}

@media only screen and (max-width: 720px) {
  .modalBox {
    width: 86%;
    height: 50%;
    padding: 1rem;
    border-radius: 30px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -55%);
  }
  .modalFooter {
    margin-top: 0.2rem;
  }

  .modalBox h1 {
    font-size: 1rem;
  }
  .modalBox p {
    font-size: 0.8rem;
  }
}
